# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# Vite
.vite/
.env
.env.*.local

# EditorConfig
*.sublime-project
*.sublime-workspace
.idea/
.vscode/

# macOS
.DS_Store

# Optional: lockfiles depending on package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

